p{
    color:silver;
}
h1{
    color:red;
    text-transform: capitalize;
}
.even
{
    color:white;
    background-color: blue;
}
.odd {
    color:green;
}

.testing
{
    background-color: black;
    color:white;
    width: 80%;
    height: 100px;
}

/* table
{
    border:1px solid red;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 100px;
    text-align: center;
    border-spacing: 2px;
} */